
body{
    margin:0;
    height: 100%;


}

.container{
    width: 75%;
    float: right;
    margin: 0px;
    display: block;
    background-color: #F0F0F0;
    padding: 5px;
    height: 100%;


}

#my-dropdown{

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;

}

#my-dropdown-div{

        width:40%;
        margin:0px auto;
}


#my-graph{

    textAlign: center;
    align: center;
    width:90%;
    margin: 0px auto;
    margin-top: 10px;
}


#main_table{

    textAlign: center;
    align: center;
    width: 90%;
    margin: 0px auto;
}

#main_table td H3{
    text-align: center;

}


#news_table_data{
     border-collapse: collapse;

}


#news_table_data tr td{
    border: 1px solid black;
    padding: 5px;

}