#my-dropdown{

    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 100%;
    height: 5vh;

}


#text_search{
    display: inline-block;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 95%;
    border: 1px solid #bbb;
    padding-right: 8px;


}
#button {
    width:9%;
    display: inline-block;
    height: 5vh;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 0 4px 4px 0;
    border: 1px solid #bbb;
    cursor: pointer;
    vertical-align: top;
    box-sizing: border-box; }

#extract_div{
    display: flex;
    justify-content:space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 100%;
    display: flex;
    height: 5vh;
    vertical-align: top;


}

* {
  margin: 0;
  padding: 0;
}

body, html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

.container{
    width: 100%;
    float: right;
    margin: 0px;
    display:flex;
    vertical-align: top;
    min-height: 100%;
    height: 100vh;
}

.left-container{
    display:block;
    width: 25%;
    background-color: #0040ff;
    display: block;
    height: 100%;
    float: left;
    margin: 0px;

}



.right-container{
    display: inline-block;
    width:100%;
    background-color: #ffffff;
    margin: 0 auto;

}

#tabs{
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    margin-top: 5px;

}

#sub_tab {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
}

#radio-div {
    display: block;
    margin: 0 auto;
    text-align: center;
}

#radio-div label{
    margin-left: 50px;

}

#my-dropdown{

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 100%;
}

#my-dropdown-div{

    width: 87%;
    margin:0px auto;
    margin-top: 3%;
}


#my-graph{

    textAlign: center;
    align: center;
    width:100%;
    height: 100%;
    margin: 0 auto;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}



.indicators{
    width:32%;
    textAlign: center;
    align: center;
    margin:0px auto;
    margin-top: 9px;
    background-color: inherit;
    display:inline-block;
    padding: 2px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);

}


.sentiment_div{
    display: flex;
    justify-content:space-between;
    textAlign: center;
    align: center;
    width: 87%;
    margin: 0px auto;
    margin-top: 10px;
    vertical-align: top;

}

.sentiment_div H3{
    text-align: center;
    width: 95%;
    margin-top: 1%;
    font-size: 17px;

}


.div-30{

    width: 28%;

   }

.div-70{
    width:69%;


   }
.div-50{
    width: 49%;


}

.pie-chart-div{
    margin: 0 auto;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    height: 35vh;
    vertical-align: top;


}


#pie-chart{
    align: center;
    margin: 0 auto;
    height: 100%;
}


#main_table{

    textAlign: center;
    align: center;
    width: 90%;
    margin: 0px auto;
    margin-top: 10px;
}

#main_table tr{
    vertical-align: top;

}

#main_table tr td{
    width: 50%;

}

#main_table td H3{
    text-align: center;
    width: 95%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 17px;

}


#news_table_data{
    border-collapse: collapse;
    height: 35vh;
    overflow-y: scroll;
    margin: 0 auto;
       box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    width: 100%;
    margin-bottom: 5%;
}


#news_table_data tr td{
    border: 1px solid black;
    padding: 5px;
    font-size: 8pt ;
    width: 100vh;
}

#tweet_table_data{
    border-collapse: collapse;
    height: 35vh;
    overflow-y: scroll;
    margin: 0 auto;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
          margin-bottom: 5%;

}


#tweet_table_data tr td{
    border: 1px solid black;
    padding: 5px;
    font-size: 8pt ;
    width: 100vh;
}

.modal {
    display: block;  /*Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: white;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 50%; /* Could be more or less, depending on screen size */
    color:#506784;
}


.tweet_class{
    text-align: left;
    margin-top: 10px;
    display: flex;
    justify-content: left;
    color: #595959;


}

.tweet_class:link{

    color: #318af2;
}
.modal-label{
    padding-right: 5px;


}
.heading{
    font-size: 16px;
    font-weight: bold;
    color: #404040;
}